<template>
  <div class="portfolio">
    <div class="container">
      <h1 class="title">Portfolio</h1>
      <div class="box">
        <div class="card">
          <img src="../assets/images/1.png" alt="">
          <div class="overflow">
            <h1>SkyBox</h1>
            <div class="tags">
              <a href="https://skybox-cloud.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/Skybox"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/2.png" alt="">
          <div class="overflow">
            <h1>Innovated</h1>
            <div class="tags">
              <a href="https://innovated-demo.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/innovated"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/12.png" alt="">
          <div class="overflow">
            <h1>Center Logistic</h1>
            <div class="tags">
              <a href="https://centerlogistic.netlify.app/#/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/CenterLgistic"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/10.png" alt="">
          <div class="overflow">
            <h1>Castaway</h1>
            <div class="tags">
              <a href="https://castaway-vue.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/Castaway"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/11.png" alt="">
          <div class="overflow">
            <h1>Alibaraka</h1>
            <div class="tags">
              <a href="https://alibaraka-vue.netlify.app/#/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/alibaraka"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/3.png" alt="">
          <div class="overflow">
            <h1>Irorun</h1>
            <div class="tags">
              <a href="https://irorun-demo.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/Irorun"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/4.png" alt="">
          <div class="overflow">
            <h1>Portal</h1>
            <div class="tags">
              <a href="https://portal-facebook.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/Portal"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/5.png" alt="">
          <div class="overflow">
            <h1>OJJO wedding</h1>
            <div class="tags">
              <a href="https://ojjo-wedding.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/Ojjo"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/6.png" alt="">
          <div class="overflow">
            <h1>SportGeeks</h1>
            <div class="tags">
              <a href="https://sportgeeks.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="#"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/7.png" alt="">
          <div class="overflow">
            <h1>Personal Portfolio</h1>
            <div class="tags">
              <a href="https://saloxdev.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/first-portfolio"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/8.png" alt="">
          <div class="overflow">
            <h1>Staffix</h1>
            <div class="tags">
              <a href="https://staffix.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="#"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/9.png" alt="">
          <div class="overflow">
            <h1>DJ Bright</h1>
            <div class="tags">
              <a href="https://djbright.netlify.app/"><i class="bi bi-globe"></i> DEMO</a>
              <a href="https://github.com/Saloxiddin701/DJ-Bright"><i class="bi bi-github"></i> SOURCE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '../assets/css/portfolio.css'

export default {
  name: "PortfolioView",
}
</script>